*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.escritorio{
    display: none;
}
.encabezado{
    background-color: blue;
    width: 100vw;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icono{
    font-size: 20px;
    color: white;
}

.titulo {
    text-align: center;
    color:white;
    font-size: 20px;
}

.app{
    display: block;
    position: relative;
}


.tarjeta-confirmacion{
    width: 200px;
    height: 80px;
    background-color: red;
    position: absolute;
    z-index: 2;
    top:20px;
    right: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.tarjeta-confirmacion-texto{
    text-align: center;
    color: white;
}


@media(min-width:768px){
    .escritorio{
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .encabezado{
        display: none;
    }
    .app{
        display: none;
    }
}


